html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eaeaea;
  word-break: break-all;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #2b2b2b87;
}

::-webkit-scrollbar-thumb {
  background: #C83660;
}

a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

.key__button {
  position: relative;
  box-sizing: border-box;
  font-size: 22px;
  text-align: center;
  width: 80px;
  color: #555;
  cursor: pointer;
  margin: 8px 8px;
  height: 80px;
  border-color: #f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  font-family: sans-serif;
  display: inline-block;
  transition: box-shadow 0.3s ease, transform 0.15s ease;
}

.key__button:hover,
.key__button:focus {
  box-shadow: 0 0 1px #C83660, 0 1px 0 #fff, 0 4px 0 #c0c0c0, 0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
  transform: translateY(2px);
}

.key_malayalam {
  position: absolute;
  right: 5px;
  top: 3px;
  font-size: 20px;
}

.key_input {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  outline: none;
  border: none;
  box-shadow: 0 0 1.5px #C83660;
  text-align: center;
}

.key_input:focus {
  box-shadow: 0 0 5px #C83660;
  transform: translateY(2px);
  outline: none;
}

@media (max-width: 600px) {
  .key__button {
    font-size: 12px;
    width: 50px;
    height: 50px;
  }

  .key_malayalam {
    font-size: 13px;
  }

  .key_input {
    padding: 10px;
    font-size: 15px;
  }
}

.floating_select {
  padding: 2rem;
  box-shadow: 0 0 5px #C83660;
  border-width: 1px;
  border-radius: 10px;

}

.floating_select {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input_malayalam {
  position: relative;
}

.input_malayalam button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin: 0;
  border-radius: 0;
  border: none;
}

.variant_null {
  border: .5px solid #C8366073;

}

.fix_height {
  margin-top: 10px;
  height: 30vh;
  overflow: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.space_btn {
  width: 160px;
}

a.nav-item {
  color: white;
  transform: 1s;

}

a.nav-item:hover {
  color: #382758b8;
}

a.active {
  color: #382758b8;
  font-weight: bold;
}

.save_ {
  left: 0 !important;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 100%
}

@media (min-width: 476px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 476px) {
  .container {
    width: 100%
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1340px;
    max-width: 100%
  }
}

span.ant-tag {
  font-size: 19px !important;
  padding: 6px 11px !important;
}

.ant-collapse,
.ant-table-wrapper {
  width: 100% !important;
}